# Coverage.py is a tool for measuring code coverage of Python programs.
# for more info: https://coverage.readthedocs.io/en/coverage-4.4.1/config.html
[run]
source = ultron8
omit =
    ultron8/pkg/*
    ultron8/docs/*
    ultron8/tests/*
    /etc/python3.6/sitecustomize.py
    venv/**
    ultron8/tests/**
    .eggs/**
    /home/travis/virtualenv/**
    tests/fixtures/simple/packs/linux/actions/checks/**

# # Run in parallel mode so that coverage can canonicalize the source paths
# # regardless of whether it runs locally or within a Docker container.
# parallel = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

# https://coverage.readthedocs.io/en/coverage-4.3.1/config.html#paths
[paths]
# SOURCE: https://github.com/mtlynch/ingredient-phrase-tagger/blob/master/.coveragerc
# the first path is the path on the local filesystem
# the second path is the path as it appears within the Docker container
source =
    ultron8/
    /home/developer/app/ultron8
