# NOTE: Use this for local testing outside of docker

# Main Configs
export DEBUG=True
export TESTING=True
export SECRET_KEY=43n080musdfjt54t-09sdgr
# ALLOWED_HOSTS="127.0.0.1", "localhost"

# Redis
export REDIS_URL=redis://localhost
export REDIS_ENDPOINT=127.0.0.1
export REDIS_PORT=6379
export REDIS_DB=0
# REDIS_PASSWORD=sdf

# DB
export DATABASE_URL=sqlite:///dev.db
# DATABASE_URL=postgresql://localhost/example
# DATABASE_URL=mysql://localhost/example

# Testing
export TEST_DATABASE_URL=sqlite:///test.db
# export TEST_DATABASE_URL=sqlite:///:memory:


# -------------------------------


export DEFAULT_MODULE_NAME=ultron8.web
export VARIABLE_NAME=app
export MODULE_NAME=${MODULE_NAME:-$DEFAULT_MODULE_NAME}
export VARIABLE_NAME=${VARIABLE_NAME:-app}
export APP_MODULE=${APP_MODULE:-"$MODULE_NAME:$VARIABLE_NAME"}
export DEFAULT_GUNICORN_CONF=/gunicorn_conf.py
export PRE_START_PATH=${PRE_START_PATH:-/home/developer/app/ultron8/migrations/gunicorn-prestart.sh}


export DOMAIN=localhost
export HOST=${DOMAIN}
export PORT=11267
export LOG_LEVEL=DEBUG

export BETTER_EXCEPTIONS=1
export SERVER_NAME=${DOMAIN}:${PORT}
export SERVER_HOST=http://${DOMAIN}:${PORT}

export ULTRON_ENABLE_WEB=${ULTRON_ENABLE_WEB:-false}
export JUPYTER="jupyter lab --ip=0.0.0.0 --allow-root --NotebookApp.custom_display_url=http://127.0.0.1:8888"
export PROJECT_NAME=ultron8
export DOMAIN_MAIN=ultron8.com
export FIRST_SUPERUSER=admin@ultron8.com
export FIRST_SUPERUSER_PASSWORD=password
export SMTP_TLS=True
export SMTP_PORT=587
export SMTP_EMAILS_FROM_EMAIL=info@ultron8.com
export FLOWER_AUTH=admin:password
export USERS_OPEN_REGISTRATION=False
export BACKEND_CORS_ORIGINS='*'
