# A MANIFEST.in file can be added in a project to define the list of files
# to include in the distribution built by the sdist command.
#
# For more info: https://docs.python.org/2/distutils/sourcedist.html#manifest-related-options

include *.txt
include *.rst
include ultron8/default_config.yaml
include ultron8/logging.conf
include ultron8/named_config_template.yaml
recursive-include ultron8 *.*
recursive-exclude *.pyc
recursive-exclude *.pyo
recursive-exclude tests *



# include README.md
# include requirements.txt
# include dev-requirements.txt
# graft moonbeam_cli
# recursive-include tests *
# recursive-exclude tests *.pyc *.pyo
# recursive-include integration *
# recursive-exclude integration *.pyc *.pyo
