[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
ultron8 = {path = ".", editable = true}

[dev-packages]
aiomonitor = "*"
autopep8 = "*"
black = "*"
coveralls = "*"
docfly     = "*"
flake8     = "*"
ipython = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
pathlib_mate = "*"
pdbpp = "*"
pre-commit = "*"
pygments   = "*"
pytest     = "*"
pytest-cov     = "*"
pytest-leaks = "*"
pytest-mock = "*"
pytest-sugar = "*"
rstobj     = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
sphinx-copybutton = "*"
sphinx-jinja = "*"
twine = "*"
pytest-ipdb = {git = "git+https://github.com/mverteuil/pytest-ipdb#egg=pytest-ipdb"}

[experimental-packages]
bandit = "*"
pyroma = "*"

[pipenv]
allow_prereleases = true
