[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[scripts]
test="py.test --cov-config .coveragerc --verbose --cov-report term --cov-report xml --cov=ultron8 tests"
test-pdb="py.test --cov-config .coveragerc --verbose  --pdb --showlocals --cov-report term --cov-report xml --cov=ultron8 tests"
coverage-run="coverage run --source=ultron8/ setup.py tests; coverage report --show-missing; coverage html"
setup-test="python setup.py test"
# NOTE: This one taken from bemoonbeam_cli
run-pytest="pytest -s --tb short --cov-config .coveragerc --cov ultron8 tests --cov-report term-missing --cov-report xml:cov.xml --cov-report html:htmlcov --cov-report annotate:cov_annotate"

[packages]
ultron8 = {path = ".",editable = true}
pytest-ipdb = {editable = true,path = "."}

[dev-packages]
pathlib_mate = "*"
isort = "*"
pdbpp = "*"
black = "*"
ipython = "*"
aiomonitor = "*"
pre-commit = "*"
mccabe = "*"
lazy-object-proxy = "*"
autopep8 = "*"
MonkeyType = "*"
pylint = "*"
restructuredtext_lint = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
sphinx-jinja = "*"
sphinx-copybutton = "*"
docfly = "*"
rstobj = "*"
pygments = "*"
pytest = "*"
pytest-cov = "*"
coveralls = "*"
pytest-sugar = "*"
pytest-mock = "*"
pytest-leaks = "*"
pytest-mypy = "*"
pytest-flake8 = "*"
tox-pyenv = "*"
# pytest-ipdb = {git = "git+https://github.com/mverteuil/pytest-ipdb#egg=pytest-ipdb"}

[experimental-packages]
bandit = "*"
pyroma = "*"

[pipenv]
allow_prereleases = true
