[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
ultron8 = {path = ".", editable = true}

[dev-packages]
pathlib_mate = "*"
twine = "*"
isort = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"
pdbpp = "*"
black = "*"
ipython = "*"
pytest-sugar = "*"
pytest-mock = "*"
pytest-leaks = "*"
pytest-mypy = "*"
pytest-flake8 = "*"
aiomonitor = "*"
pre-commit = "*"
mccabe = "*"
lazy-object-proxy = "*"
autopep8 = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
sphinx-jinja = "*"
sphinx-copybutton = "*"
docfly = "*"
rstobj = "*"
pygments = "*"
pytest-ipdb = {git = "git+https://github.com/mverteuil/pytest-ipdb#egg=pytest-ipdb"}

[experimental-packages]
bandit = "*"
pyroma = "*"

[pipenv]
allow_prereleases = true
