pathlib_mate
twine
isort
coveralls
pytest
pytest-cov
# pytest-timeout
# pytest-benchmark[histogram]
-e git+https://github.com/mverteuil/pytest-ipdb#egg=pytest-ipdb
pdbpp
black
ipython

pytest-sugar
# pytest-rerunfailures
pytest-mock
pytest-leaks

# # tracing and debugging
# hunter
#
# cython
#
# # trace python process
# pystuck
# objgraph
# xdot
#
# # googles smarter autoformatter to conform to autopep8
# yapf
#
# # Update packages in a requirements.txt file to latest versions.
# pur
# rope

# SOURCE: https://github.com/aio-libs/aiomonitor
# NOTE: aiomonitor is module that adds monitor and python REPL capabilities for asyncio application http://aiomonitor.readthedocs.io
aiomonitor

pre-commit

mccabe


# SOURCE: https://github.com/ionelmc/python-lazy-object-proxy
# NOTE: from yelp/Tron originally
lazy-object-proxy
autopep8
