sphinx

# Theme

sphinx_rtd_theme

# Extensions

# allow jinja2 template
sphinx-jinja
# add copy to clipboard button for code block
sphinx-copybutton
# auto API manual, auto Table of Content
docfly
# generate list table from data
rstobj

# Other

# live RestructuredText preview
pygments
