loggerFactory
fastapi>=0.35.0
click
pyconfig
wget
ruamel.yaml
ruamel.yaml.cmd
argcomplete
# apscheduler

# SOURCE: https://github.com/aio-libs/aiojobs
# Jobs scheduler for managing background task (asyncio) aiojobs.readthedocs.io
aiojobs

# SOURCE: https://github.com/aio-libs/aiodocker
# NOTE: Python Docker API client based on asyncio and aiohttp
aiodocker

# SOURCE: https://github.com/aio-libs/janus
# Thread-safe asyncio-aware queue for Python
janus

# https://github.com/aio-libs/aiohttp-session
# https://github.com/aio-libs/aiohttp
# https://github.com/aio-libs/aiomysql
# https://github.com/aio-libs/aiobotocore
# aiobotocore[awscli]

# SOURCE: https://github.com/aio-libs/yarl
# Yet another URL library yarl.readthedocs.io
yarl

# SOURCE: https://github.com/aio-libs/multidict
# Multidict is dict-like collection of key-value pairs where key might be occurred more than once in the container.
multidict

# SOURCE: https://github.com/aio-libs/aiohttp-jinja2
# jinja2 template renderer for aiohttp.web http://aiohttp_jinja2.readthedocs.org
aiohttp-jinja2


# SOURCE: https://github.com/aio-libs/async-timeout
# asyncio-compatible timeout context
async-timeout

# SOURCE: https://github.com/aio-libs/aiorwlock
# Synchronization primitive RWLock for asyncio (PEP 3156)
aiorwlock

# ORIGINAL SOURCE: https://realpython.com/async-io-python/
# SOURCE: https://github.com/Tinche/aiofiles
aiofiles
# SOURCE: https://github.com/saghul/aiodns
aiodns

# SOURCE: https://github.com/Yelp/task_processing
# Interfaces and shared infrastructure for generic task processing at Yelp.
# task_processing

jinja2-cli[yaml]
uvicorn
gunicorn
cryptography

# SOURCE: https://github.com/esnme/ultrajson
# Ultra fast JSON decoder and encoder written in C with Python binding
ujson

# Modern python library for emails
# SOURCE: https://github.com/lavr/python-emails
emails

# Retrying library for Python
tenacity


pyjwt
python-multipart
email_validator

passlib[bcrypt]

aiosqlite
databases
alembic
aioredis
aiocache

# # NOTE: MessagePack is an efficient binary serialization format. It lets you exchange data among multiple languages like JSON. But it's faster and smaller. This package provides CPython bindings for reading and writing MessagePack data.
# SOURCE: https://github.com/msgpack/msgpack-python
msgpack
sqlalchemy
sqlalchemy-utils
better_exceptions
starlette-prometheus
daiquiri
raven
celery
pandas


# https://github.com/fwkz/riposte
# Python package for wrapping applications inside a tailored interactive shell
# riposte



# factory_boy is a fixtures replacement based on thoughtbot's factory_bot.
# As a fixtures replacement tool, it aims to replace static, hard to maintain fixtures with easy-to-use factories for complex object.
# https://pypi.org/project/factory-boy/
factory-boy


# https://github.com/joke2k/faker
# Faker is a Python package that generates fake data for you. http://faker.rtfd.org
Faker
# keyring
# keyrings.cryptfile
